#settings-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
  label {
    display: block;
    margin: 0.5em 0;
  }
  fieldset {
    position: relative;
    width: fit-content;
  }
}

.budgets {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: start;
}

.budget-fieldset {
  &.new-budget {
    border-color: green;
  }
  button.remove {
    position: absolute;
    right: 1em;
    top: 0;
  }
  .live-cost.danger {
    color: red;
  }
}
