@view-transition {
  navigation: auto;
}

#file-page {
  .inodes-header {
    margin-bottom: 0.5em;
  }
  &:has(#file-preview-canvas) {
    #page-header {
      border-bottom: 0;
    }
  }
}

.inodes-header {
  display: flex;
  margin-bottom: 1em;
  align-items: center;
  > menu {
    margin-left: auto;
  }
  button#show-create-dir {
    body:has(.blank-slate button.create-space) & {
      display: none;
    }
  }
  #file-preview-canvas ~ & {
    h1 {
      font-size: 1.4rem;
    }
  }
}

#create-dir-dialog {
  output {
    font-weight: bold;
  }
}

#delete-inode-dialog {
  max-width: 32em;
  .text-undone {
    white-space: nowrap;
  }
}

#file-preview-canvas {
  display: flex;
  width: 100vw;
  min-height: 150px;
  margin-block: 0;
  margin-left: calc(-1 * var(--body-gutter));
  justify-content: center;
  align-items: center;
  background: #0e0e0e;
  color: white;
  @media (prefers-color-scheme: dark) {
    background: black;
  }
  img,
  video {
    max-width: 100%;
    max-height: 500px;
  }
  audio {
    width: 500px;
    max-width: 100%;
    color-scheme: dark;
  }
  iframe {
    max-width: 100%;
    resize: both;
    width: 75em;
    height: 30em;
    border: none;
    border: 0px solid var(--border-grey);
    @media (prefers-color-scheme: light) {
      border-width: 1px 0;
      background: white;
    }
    &[data-mime^="text"] {
      @media (prefers-color-scheme: light) {
        margin: 1px;
      }
    }
    &[data-mime="application/pdf"] {
      width: 840px;
      height: 600px;
    }
  }
  #font-sample {
    display: flex;
    align-items: center;
    min-height: 14rem;
    margin: 0 var(--body-gutter);
    padding: 2em 0;
    font-family: FontSample;
    font-size: 2rem;
  }
}

#file-preview-loader {
  margin: 0;
  align-items: center;
  color: var(--text-grey-dark);
}

#upload-dialog {
  #upload-dialog-error {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  #upload-progress {
    gap: 0.2em;
    progress {
      display: block;
      width: 100%;
    }
    .info {
      font-variant-numeric: tabular-nums;
      text-align: right;
    }
  }
}

#bulk-delete-list {
  min-width: 30em;
  max-width: 50em;
  padding: 1em;
  border: 1px dotted var(--border-grey);
  list-style: none;
  li + li {
    margin-top: 0.7em;
  }
  .inode::before {
    font-size: 1.2em;
    margin-right: 0.3em;
  }
  .inode::after {
    content: "↗";
    margin-left: 0.5em;
    font-size: 0.8em;
    display: inline-block;
  }
}

a.inode {
  &::before {
    display: inline-block;
    margin-right: 0.6em;
    font-size: 1.5em;
    vertical-align: middle;
  }
  &.dir::before {
    content: "📁";
    margin-top: 1px;
  }
  &.file::before {
    content: "📄";
  }
}

#inodes-container {
  container-type: inline-size;
}

.inodes-table {
  width: 100%;
  margin-bottom: 2rem;
  color: var(--text-grey-dark);
  border-spacing: 0;
  thead {
    background: Canvas;
    position: sticky;
    z-index: 2;
    top: 0;
    [data-sort]:hover {
      cursor: pointer;
    }
  }
  tbody {
    position: relative;
    z-index: 1;
    tr {
      height: 42px;
      &:has(.select:hover) {
        background-color: var(--bg-light);
      }
      &:has(.select :checked) {
        background-color: var(--bg-highlight);
        td {
          border-bottom-color: Highlight;
          tr:first-child & {
            border-top-color: Highlight;
          }
        }
      }
      &:has(+ tr .select :checked) td {
        border-bottom-color: Highlight;
      }
    }
  }
  th,
  td {
    padding-inline: 1em;
    &.select {
      width: 30px;
      padding-inline: 0;
      text-align: center;
      input {
        margin: 0;
      }
    }
  }
  th {
    padding-block: 0.3em;
    font-weight: 400;
    text-align: initial;
    border-bottom: 2px solid var(--border-grey-light);
    thead:has(+ tbody tr:first-child .select :checked) & {
      border-bottom-color: transparent;
    }
    &[aria-sort] {
      color: CanvasText;
      font-weight: 500;
    }
    button[data-sort] {
      background: none;
      border: none;
      padding: 0;
      font: inherit;
      color: inherit;
      cursor: pointer;
      &:hover {
        color: CanvasText;
      }
      &:is([aria-sort] &)::after {
        font-size: 0.8em;
        margin-left: 0.2em;
      }
      &:is([aria-sort="ascending"] &)::after {
        content: "▲";
      }
      &:is([aria-sort="descending"] &)::after {
        content: "▼";
      }
    }
  }
  td {
    border-top: 1px solid transparent;
    border-bottom: 1px solid var(--border-grey-light);
    &.select {
      position: relative;
      label {
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &.name {
      word-break: break-all;
    }
    &.size {
      text-align: right;
    }
  }
  @container (width < 640px) {
    th,
    td {
      &.kind,
      &.size {
        display: none;
      }
    }
    td {
      &.name a::before {
        font-size: 1em;
        margin-right: 0.5em;
      }
    }
  }
}

.inode-access {
  display: inline-flex;
  align-items: center;
  gap: 0.45em;
  button {
    position: relative;
    top: -1px;
  }
  .others-preview {
    border-bottom: 1px dotted CanvasText;
  }
}

#acl-dialog {
  .inode-name {
    margin-top: -0.8em;
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
    font-size: 1em;
    font-weight: 600;
    border-bottom: 1px solid var(--border-grey-light);
  }
  .permissions {
    margin-top: 2em;
    padding: 0.5em 1em 1em;
    border: 1px solid var(--border-grey);
    border-radius: 5px;
    legend {
      font-weight: 600;
    }
    label {
      display: flex;
      margin: 1em 0;
      gap: 0.5em;
    }
    select {
      text-transform: capitalize;
    }
    #acl-add-user {
      margin-top: 1em;
    }
    #acl-loading {
      display: flex;
      gap: 0.5em;
      justify-content: center;
      color: var(--text-grey-dark);
    }
  }
}
