:root {
  --default-font-family: system-ui;
  --text-grey: darkGrey;
  --text-grey-dark: grey;
  --border-grey: lightGray;
  --border-grey-light: #ebebeb;
  --bg-light: #eee;
  --bg-highlight: oklch(from Highlight calc(l + 0.05) calc(c - 0.06) h);

  @media (prefers-color-scheme: dark) {
    --text-grey: oklch(from Canvas calc(l + 0.23) c h);
    --text-grey-dark: oklch(from Canvas calc(l + 0.4) c h);
    --border-grey: oklch(from Canvas calc(l + 0.15) c h);
    --border-grey-light: oklch(from Canvas calc(l + 0.08) c h);
    --bg-light: oklch(from Canvas calc(l + 0.05) c h);
    --bg-highlight: oklch(from Highlight calc(l - 0.06) calc(c - 0.04) h);
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

html {
  &[data-browser-name="Mobile Safari"] {
    input[type="text"],
    textarea {
      font-size: 16px !important;
    }
  }
}

body {
  --body-gutter: 1em;
  @media (max-width: 640px) {
    --body-gutter: 0.5em;
  }
  font-size: 14px;
  line-height: 1.3;
  font-family: var(--default-font-family);
  margin: 0 var(--body-gutter) 5em;
}

footer {
  margin-block: 1rem;
}

img {
  max-width: 100%;
}

hr {
  margin: 1rem 0;
  height: 1px;
  border: none;
  background: var(--border-grey-light);
}

button {
  white-space: nowrap;
  &.spinner::after {
    color: CanvasText;
  }
  [class^="icn-"] {
    margin-right: 0.4em;
    pointer-events: none;
  }
  &.nobtn {
    all: unset;
    cursor: pointer;
    [class^="icn-"] {
      margin: 0 !important;
    }
  }
}

input[type="checkbox"] {
  margin-inline: 2px;
}

textarea {
  font-family: system-ui;
}

dialog {
  text-align: initial;
  border-width: 3px;
  border-radius: 2px;
  h1 {
    font-size: 2em;
    margin-top: 0.6rem;
  }
  &:has(form.basic) {
    min-width: min(25rem, 100%);
  }
}

menu {
  margin: 0;
}

.wait-disabled[disabled] {
  cursor: wait;
}

form {
  > label {
    display: block;
    margin: 1.2rem 0;
  }
}

form.basic {
  > label {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    > input,
    > textarea {
      width: 100%;
    }
    > textarea {
      max-width: 100%;
    }
  }
  > footer {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 2rem;
    dialog & {
      margin-bottom: 0.3rem;
    }
  }
}

table.basic {
  border-collapse: collapse;
  thead {
    background: var(--bg-light);
  }
  th {
    text-align: left;
  }
  th,
  td {
    padding: 0.2em 0.5em;
    border: 1px solid var(--border-grey);
  }
}

pre.basic {
  background: var(--bg-light);
}

.alert,
[role="alert"] {
  padding: 0.25rem 0.4rem;
  border-radius: 2px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  font-family: var(--default-font-family);
  word-break: break-word;
  &.success {
    background: green;
    color: white;
    @media (prefers-color-scheme: dark) {
      background: darkgreen;
    }
  }
  &.warning {
    background: yellow;
    color: black;
    @media (prefers-color-scheme: dark) {
      background: gold;
    }
  }
  &.error {
    background: red;
    color: white;
    @media (prefers-color-scheme: dark) {
      background: darkred;
    }
  }
  &.info {
    background: royalblue;
    color: white;
    @media (prefers-color-scheme: dark) {
      background: darkslateblue;
    }
  }
  a {
    color: inherit;
    font-weight: bold;
  }
}

.flash {
  position: static;
  width: 100%;
  margin: 1em 0;
  padding: 0;
  border: none;
  border-radius: 5px;
  + * {
    overflow: hidden;
  }
  form {
    display: flex;
    min-height: 2.5em;
    padding: 0.5em 1em;
    align-items: center;
    button {
      margin-left: auto;
    }
  }
}

.spinner,
[class*="spinner-"] {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  &.spinner-col {
    display: flex;
    gap: 0.7em;
    flex-direction: column;
  }
  &.spinner-block {
    display: flex;
  }
  &::before {
    width: 18px;
    aspect-ratio: 1;
    content: "";
    border: 1px solid currentColor;
    border-bottom-color: transparent !important;
    border-radius: 50%;
    animation: spin 0.5s linear infinite;
  }
  &.spinner-lg::before {
    width: 24px;
  }
  &.spinner-sm::before {
    width: 12px;
  }
  &.spinner-xs::before,
  button&::before {
    width: 8px;
  }
  button& {
    gap: 0.25rem;
    flex-direction: row-reverse;
  }
}

.dots {
  display: inline-flex;
  --size: 0.4em;
  --active-dot-bg: hsl(from currentColor h s calc(l - 50));
  @media (prefers-color-scheme: dark) {
    --active-dot-bg: hsl(from currentColor h s calc(l + 50));
  }
  * {
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    animation: dots ease-in-out 1s infinite;
    background: currentColor;
    &:nth-of-type(2) {
      margin: 0 calc(var(--size) * 0.9);
      animation-delay: 0.2s;
    }
    &:nth-of-type(3) {
      animation-delay: 0.3s;
    }
  }
}

@keyframes dots {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
    background: var(--active-dot-bg);
  }
  100% {
    transform: scale(1);
  }
}

.tooltip {
  display: inline-block;
  .anchor {
    cursor: default;
    &:hover {
      + .infobox {
        opacity: 1;
        z-index: unset;
        transition: opacity 200ms ease-out;
      }
    }
  }
  .infobox {
    position: absolute;
    opacity: 0;
    z-index: -1;
    @supports (position-area: top) {
      position-area: top right;
      position-try-fallbacks: flip-block, flip-inline;
      width: 22rem;
      max-width: fit-content;
    }
    @supports not (position-area: top) {
      max-width: 22rem;
      margin-top: 0.3em;
    }
    padding: 0.6em 0.75em;
    font-size: 13.5px;
    line-height: 1.3;
    background: black;
    color: white;
    border-radius: 5px;
  }
}

#page-header {
  display: flex;
  min-height: 4rem;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.8rem;
  padding: 1rem 0;
  border-bottom: 1px solid var(--border-grey-light);
  .site-name {
    margin: 0 auto 0 0;
    font-size: inherit;
    font-weight: 500;
  }
  .breadcrumb {
    margin-inline-end: auto;
    font-weight: 500;
    ol {
      margin: 0;
    }
  }
  .login-or-register {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.breadcrumb {
  ol {
    list-style: none;
    padding-inline: 0;
    li {
      display: inline;
      &::after {
        content: "/";
        margin-inline: 0.8em;
        color: var(--text-grey);
      }
    }
  }
}

#reg-form {
  label {
    font-weight: bold;
  }
  label {
    display: block;
    margin: 2em 0 0.3em;
  }
  #reg-form-username {
    display: block;
    width: 18em;
    margin: 0 0 0.5em;
    padding: 0.5em;
    font: inherit;
  }
  .username-help {
    margin: 0.8em 0 1.5em;
    font-size: 0.9em;
    color: var(--text-grey-dark);
  }
  #reg-form-error {
    margin-top: 1em;
    width: fit-content;
  }
}

.menu-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 0.5rem;
  margin-inline: 0;
  padding-inline: 0;
  list-style: none;
}

.pop-menu {
  > button {
    [class^="icn-"]:has(+ .icn-chevron-expand) {
      margin-right: 0;
    }
    .icn-chevron-expand {
      margin-left: 0.3em;
      margin-right: 0;
    }
  }
  menu {
    position: unset;
    position-try-fallbacks: flip-inline;
    inset: unset;
    top: anchor(bottom);
    left: anchor(left);
    margin-top: 4px;
    padding: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    background: Canvas;
    border: 1px solid var(--border-grey);
    border-radius: 4px;
    &:popover-open {
      display: flex;
    }
    @media (prefers-color-scheme: light) {
      box-shadow: 0 1px 1px var(--text-grey-dark);
    }
    @media (prefers-color-scheme: dark) {
      box-shadow: 0 1px 10px #000;
    }
  }
}

.blank-slate {
  text-align: center;
  .title {
    display: block;
    color: var(--text-grey-dark);
  }
  .sub {
    margin-bottom: 1.5em;
    color: var(--text-grey);
  }
}

.sectioned {
  section {
    margin: 3em 0;
    @media (min-width: 640px) {
      padding-left: 3em;
    }
    &:not(:first-of-type) {
      padding-top: 1em;
      border-top: 1px solid var(--border-grey-light);
    }
  }
}

.prose {
  margin: 3em auto;
  max-width: 40em;
  font-size: 16px;
  line-height: 1.5;
  text-wrap: pretty;
  ul li {
    margin: 0.15em 0;
  }
}

.box {
  width: fit-content;
  padding: 2em;
  text-align: initial;
  background: var(--bg-light);
  border-radius: 5px;
  *:first-child {
    margin-top: 0;
  }
  h1 {
    margin-block: 0.83em;
    font-size: 1.5em;
    font-weight: 500;
  }
  ul {
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    list-style: inside;
    line-height: 1.6;
    li {
      margin: 0.5em 0;
      &:first-child,
      &:last-child {
        margin: 0;
      }
    }
  }
}

.about {
  margin-top: 4em;
  text-align: center;
  line-height: inherit;
  .logo {
    &::before {
      height: 1em;
      display: block;
      margin: 0 auto 0.3em;
      font-size: 6em;
    }
  }
  .site-name {
    font-size: 1em;
    margin-block: 0.9em;
    font-weight: 500;
  }
  .subline {
    line-height: 1.3;
    font-weight: bold;
    font-size: 2em;
  }
  .box {
    margin: 2em auto;
    li {
      list-style: none;
      &::before {
        content: "\F633";
        position: relative;
        top: 2px;
        display: inline-block;
        margin-right: 0.8em;
        width: 1em;
        line-height: 1;
        color: darkgreen;
        font-family: bootstrap-icons;
        -webkit-font-smoothing: antialiased;
        @media (prefers-color-scheme: dark) {
          color: greenyellow;
        }
      }
    }
  }
  footer {
    ul {
      padding: 0;
      list-style: none;
      li {
        display: inline;
        &:not(:last-child):after {
          content: "|";
          margin: 0 0.5em;
        }
      }
    }
  }
}

#buy-traffic-dialog {
  max-width: 25em;
  #buy-traffic-loader {
    margin-top: 2em;
  }
  #buy-traffic-priduct-summary {
    margin: 2em 0;
    display: flex;
    align-items: center;
    input[type="number"] {
      margin-right: 0.5em;
    }
  }
}

/* =====================
  Icons
===================== */

[class^="icn-"]::before {
  display: inline-block;
  width: 1em;
  font-family: bootstrap-icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icn-question-circle::before {
  content: "\F505";
}
.icn-download::before {
  content: "\F30A";
}
.icn-globe::before {
  content: "\F3EE";
}
.icn-gear::before {
  content: "\F3E5";
}
.icn-chevron-expand::before {
  content: "\F283";
}
.icn-upload::before {
  content: "\F603";
}
.icn-chat-fill::before {
  content: "\F24B";
}
.icn-plus-lg::before {
  content: "\F64D";
}
.icn-trash::before {
  content: "\F5DE";
}
.icn-folder-plus::before {
  content: "\F3D3";
}
