:root {
  --text-grey: darkGrey;
  --text-dim: oklch(from CanvasText calc(l + 0.5) c h);
  --border-grey: lightGray;
  --border-grey-light: #ebebeb;
  --bg-light: #eee;

  @media (prefers-color-scheme: dark) {
    --text-grey: GrayText;
    --text-dim: oklch(from CanvasText calc(l - 0.2) c h);
    --border-grey: oklch(from Canvas calc(l + 0.15) c h);
    --border-grey-light: oklch(from Canvas calc(l + 0.08) c h);
    --bg-light: oklch(from Canvas calc(l + 0.05) c h);
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

html {
  &[data-browser-name="Mobile Safari"] {
    input[type="text"],
    textarea {
      font-size: 16px !important;
    }
  }
}

body {
  margin: 0 1em 5em;
  font: 14px/1.3 system-ui;
  @media (max-width: 640px) {
    margin-inline: 0.5em;
  }
}

section {
  margin-block: 2rem;
}

footer {
  margin-block: 1rem;
}

menu {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 0.5rem;
  margin-inline: 0;
  padding-inline: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

input[type="checkbox"] {
  margin-inline: 2px;
}

textarea {
  font-family: system-ui;
}

dialog {
  text-align: initial;
  border-width: 3px;
  h1 {
    font-size: 2em;
    margin-top: 0.6rem;
  }
  &:has(.basic-form) {
    min-width: min(25rem, 100%);
  }
}

#flash {
  width: fit-content;
}

.wait-disabled[disabled] {
  cursor: wait;
}

.basic-form {
  > label {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin: 1.3rem 0;
    > input,
    > textarea {
      width: 100%;
    }
    > textarea {
      max-width: 100%;
    }
  }
  > footer {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 2rem;
    dialog & {
      margin-bottom: 0.3rem;
    }
  }
}

.alert,
[role="alert"] {
  padding: 0.25rem 0.4rem;
  border-radius: 2px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  &.success {
    background: green;
    color: white;
  }
  &.warning {
    background: yellow;
    color: black;
  }
  &.error {
    background: red;
    color: white;
  }
}

.spinner,
[class*="spinner-"] {
  &::after {
    display: inline-block;
    width: 24px;
    aspect-ratio: 1;
    content: "";
    border: 1px solid currentColor;
    border-bottom-color: transparent !important;
    border-radius: 50%;
    animation: spin 0.5s linear infinite;
  }
  &.spinner-sm::after {
    width: 12px;
  }
  &.spinner-xs::after,
  button&::after {
    width: 8px;
  }
  button&::after {
    margin-left: 0.25rem;
  }
}

.dots {
  display: inline-flex;
  --size: 0.4em;
  --active-dot-bg: hsl(from currentColor h s calc(l - 50));
  @media (prefers-color-scheme: dark) {
    --active-dot-bg: hsl(from currentColor h s calc(l + 50));
  }
  * {
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    animation: dots ease-in-out 1s infinite;
    background: currentColor;
    &:nth-of-type(2) {
      margin: 0 calc(var(--size) * 0.9);
      animation-delay: 0.2s;
    }
    &:nth-of-type(3) {
      animation-delay: 0.3s;
    }
  }
}

@keyframes dots {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
    background: var(--active-dot-bg);
  }
  100% {
    transform: scale(1);
  }
}

.tooltip {
  display: inline-blockl;
  .anchor {
    cursor: default;
    &:hover {
      + .infobox {
        opacity: 1;
        z-index: unset;
        transition: opacity 200ms ease-out;
      }
      .help-sign {
        border-color: unset;
      }
    }
  }
  .infobox {
    position: absolute;
    opacity: 0;
    z-index: -1;
    @supports (position-area: top) {
      position-area: top right;
      position-try-fallbacks: flip-block, flip-inline;
      width: 22rem;
      max-width: fit-content;
    }
    @supports not (position-area: top) {
      max-width: 22rem;
      margin-top: 0.3em;
    }
    padding: 0.6em 0.75em;
    font-size: 13.5px;
    line-height: 1.3;
    background: black;
    color: white;
    border-radius: 5px;
  }
}

.help-sign {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid var(--border-grey);
}

.page-header {
  display: flex;
  min-height: 4rem;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1rem;
  gap: 0.8rem;
  padding: 1rem 0;
  border-bottom: 1px solid var(--border-grey-light);
  .site-name {
    margin: 0 auto 0 0;
    font-size: inherit;
    font-weight: inherit;
  }
  .breadcrumb {
    margin-inline-end: auto;
    ol {
      margin: 0;
    }
  }
  .login-or-register {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.breadcrumb {
  ol {
    list-style: none;
    padding-inline: 0;
    li {
      display: inline;
      &:not(:only-child)::after {
        content: "/";
        margin-inline: 0.8em;
        color: var(--text-grey);
      }
    }
  }
}

#reg-form {
  label {
    display: block;
  }
  input {
    margin: 0.4rem 0.3rem 0 0;
  }
  p.error {
    width: fit-content;
  }
}

#upload-progress {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  align-items: center;
  progress {
    flex-grow: 1;
  }
  .info {
    display: flex;
    font-variant-numeric: tabular-nums;
  }
}

#spaces {
  container-type: inline-size;
  max-width: 90em;
  column-width: 20em;
  column-rule: 1px solid var(--border-grey-light);
  gap: 10em;
  &:not(:empty) {
    margin-top: 2em;
    body:not(.safari) & {
      margin-bottom: 2em;
    }
  }
  article {
    break-inside: avoid;
    margin-bottom: 2cqw;
    padding-bottom: 1em;
  }
  h1 {
    margin: 0;
    font-size: 1.15em;
    font-weight: 500;
    word-break: break-all;
  }
  p {
    margin: 0.4em 0 0;
    color: var(--text-dim);
  }
}
